/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 4.5fr;
  width: 100%;
  height: 100%;
}

/* HEADER */
.header {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 2 / 3;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.search-input {
  border: none;
  background-color: rgb(220, 220, 220);
  border-radius: 25px;
  width: min(40vw, 500px);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.header-profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.notifications-button {
  background-color: transparent;
  border: none;
}

.profile-picture {
  width: 40px;
}

.profile-name {
  font-weight: bold;
}

.header-welcome {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.welcome-profile-pic {
  width: 80px;
}

.welcome-text-top {
  font-size: 0.9rem;
  font-weight: bold;
}

.welcome-text-bottom {
  font-size: 1.8rem;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  column-gap: 1rem;
}

.header-buttons > button {
  background-color: rgb(40, 161, 232);
  border-radius: 20px;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  /* width: 80px; */
  text-align: center;
}

/* SIDEBAR */
.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(40, 161, 232);
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.15rem;
}

.sidebar-top,
.sidebar-bottom,
.sidebar-middle {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sidebar-top h1 {
  font-size: 1.8rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.sidebar-icon-top {
  width: 50px;
  height: 50px;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
}
/* CONTENT */
.content {
  background-color: rgb(219, 219, 219);
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem 1rem;
  column-gap: 1rem;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}

.projects-items {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  height: 100%;
}

.project-item {
  background-color: white;
  height: 200px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-left: 8px solid orange;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.project-item-text > p {
  color: rgba(0, 0, 0, 0.7);
}

.project-item-buttons {
  align-self: flex-end;
  display: flex;
  column-gap: 1rem;
}

.project-item-buttons > button {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.705);
}

.announcements {
  background-color: rgb(219, 219, 219);
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.announcements-items {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.announcements-items > hr {
  border: 0.5px solid rgba(0, 0, 0, 0.165)
}

.announcement-item > h3 {
  font-size: 1rem;
}

.announcement-item > p {
  font-size: 0.9rem;
  color: rgb(60, 60, 60) 0);
}

.trending {
  background-color: yellow;
  grid-area: 2 / 2 / 3 / 3;
}
